:root {
    --background: hsl(0 0 12);
    --navbar: hsl(0 0 16);
    --foreground: hsl(0 0 15);
    --midground: hsl(0 0 13);
    --fronterground: hsl(0 0 19);
    --major-text: hsla(0, 0%, 100%, .86);
    --text: hsla(0, 0%, 100%, .7);
    --minor-text: hsla(0, 0%, 100%, .6);
    --sub-text: hsla(0, 0%, 100%, .4);
    --sub-sub-text: hsla(0, 0%, 100%, .2);
    --primary: hsla(340, 70%, 82%, 0.8);
    --secondary: hsla(200, 65%, 80%, 0.8);
}

* {
    color: var(--text);
    font-family: "Noto Sans", "Segoe UI", sans-serif;
    caret-color: transparent;
    transition: 0.25s;
    scrollbar-color: var(--text) var(--background)
}

body {
    font-size: 0.83vw;
    background-color: var(--background);
}

.panelParent {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    width: 100%;
    --margin: .5em;
    --border-radius: 1em;
    height: 100%;
}

.panelParent > div {
    aspect-ratio: 1 / 1;
    text-align: center;
    align-content: center;
}

.panelParent > div > div {
    background-color: var(--foreground);
    margin: var(--margin);
    border-radius: var(--border-radius);
    corner-shape: scoop;
    height: calc(100% - (var(--margin) * 3));
    width: calc(100% - (var(--margin) * 3));
    padding: calc(var(--margin) / 2);
}

.panelParent > div > div > div {
    border: 1px solid var(--sub-sub-text);
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    border-radius: var(--border-radius);
    corner-shape: scoop;
    align-content: center;
}